

html{
    overflow-y:scroll; 
    max-width:  100%}


html, body {
    height: 100%;
    margin: 0;
    overflow-x:hidden;
    overflow-y: scroll;
    font-family: 'Bebas Neue', cursive;
}

body {
  font-family: 'Bebas Neue', cursive;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  height: 100%;

  }

  .carousel {
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.carousel-item {
    min-height: 100%;
}


.nav-item .nav-link {
    font-family:'Bebas Neue', cursive;
    font-weight: 300;
    text-transform: uppercase;
}
  
#header {
    position:fixed;
    padding: 0px;
    z-index:100;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}


.caption span {
	font-size: 20px;
    letter-spacing: 10px;
    background-color:transparent;
    font-size:30px;
    font-weight: 300px;
    letter-spacing: 10px;
    color: #f7f7f7;
}


.navbar {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-top: none;
  font-family: 'Bebas Neue', cursive;
}

.navbar-nav {
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;

}

ol, ul{
    list-style:none;
}

#container {
  position: relative;
}
.card {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
.container {
    margin-top: 0px;
    padding-top: 0px;
}

#content {
    position:relative;
    z-index:200;
    width:100%;
    margin:0 auto;
    height: 100%;
}

.whatwedo-section {
    margin-top: 0;
}

.card {
    border: 1px solid #e5e5e5;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
    background-image: url("../images/hill.jpeg");
      min-height: 100%;

}

.bgimg-2 {
  background-image: url("../images/thaisey.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../images/roe-buck2.jpg");
  min-height: 100%;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.about-section {
    background-color:white;
    text-align:left;
    padding: 50px 20px 0px;
    font-size:small;
font-family: 'Bebas Neue', cursive;}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    color: #777;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}


p { 
    color: #777;
      margin-bottom: 0.5px;
      font-weight: lighter;
      text-align: left;
      font-size: x-small;
}

  
.caption span.border {
    color: #777;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}

h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    color: #777;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 900;
font-family: 'Bebas Neue', cursive;}



.container-contact {
  text-align: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    section {
      flex-basis: 33%;
    }
  }


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


